html,
body {
  height: 100%;
}

.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.copyright {
  text-align: center;
}

.top {
  margin-bottom: 10px;
  border-radius: -1px;
}

.middle {
  margin-bottom: 10px;
  border-radius: -1px;
}

.bottom {
  margin-bottom: 10px;
  border-radius: -1px;
}